<% provide(:title, 'About') %>
<h1>About PUSHPOP</h1>
<h2>
  This is the About Page for the
  <a href="https://pushpop-nss.herokuapp.com/">PUSHPOP</a>
  application.
</h2><br>
<h3>Content is forthcoming.</h3>
